<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/static/tologo.png" type="image/x-icon">
    <link rel="shortcut icon" href="/static/tologo.png" type="image/x-icon">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    
    <script src="https://kit.fontawesome.com/059578b373.js" crossorigin="anonymous"></script>

    <!-- Font Awesome CSS -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.4.0/socket.io.js"></script>

    

    <link href="/static/mystyle.css" rel="stylesheet">
    <title>르베니아 게시판 | 게시판</title>
    <script>

    </script>
    <style>
        .card {
            cursor: pointer;
        }

        html {
            overflow: auto;
        }
    </style>
</head>

<body>
    <%- include('header') %>
    <h3>
        회원가입
    </h3>
    <form action="/userdo/signup" method="POST">
        <table>
            <tr>
                <td>Id : </td>
                <td><input type="text" name="id"></td>
            </tr>
            <tr>
                <td>비밀번호 : </td>
                <td><input type="password" name="pw"></td>
            </tr>
            <tr>
                <td>닉네임 : </td>
                <td><input type="text" name="name"></td>
            </tr>
            <tr>
                <td><input type="submit" value="회원가입"></td>
            </tr>
        </table>
    
    </form>

</body>

</html>