<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/static/tologo.png" type="image/x-icon">
    <link rel="shortcut icon" href="/static/tologo.png" type="image/x-icon">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/059578b373.js" crossorigin="anonymous"></script>
    <!-- Font Awesome CSS -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.4.0/socket.io.js"></script>


    <script type="text/javascript" src="../public/static/mysrc.js"></script>
    <link href="/static/mystyle.css" rel="stylesheet">
    <title>르베니아 게시판 | 게시판</title>
    <script>
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        const writeId = urlParams.get("writeId");
        let frewrite = "";
        let tolike = 0;
        let user = {name: ""};
        let isuserid ;
        usercall(function(a){
            user = a;
        })
        $(document).ready(function () {
            get_write()
        })

        function sign_out() {
            $.removeCookie('mytoken', { path: '/' });
            $.removeCookie('userName', { path: '/' });
            window.location.href = "/"
        }


        //글내용가져오기
        function get_write() {
            $("#body").empty()
            $("#write").empty();
            console.log(writeId)
            $.ajax({
                type: "GET",
                url: `/api/write/${writeId}`,
                data: {},
                success: function (response) {
                    let write = response["detail"]
                    if(write == null){
                        alert("게시글존재하지않음")
                    }
                    else{
                        
                        console.log(tolike)
                        make_card(write)
                        console.log(write['like'])

                        for(rewr of write["rewrite"]){
                            make_re(rewr)
                        }
                        if(write['like'].length){
                            console.log(checklikeunm(write))
                            console.log(isuserid)
                        }

                    }
                }
            })
        }
        function make_card(item) {
            let num = 0;
            if(item['like'].length){
                num = checklikeunm(item);
            }
            let htmlTemp = `
            <p><h1>${item['title']}</h1><i class="fa fa-heart-o" style="color: #44e2a5"> Like</i>${num}</p>
            <p>${item['name']}</p>
            <div class="jumbotron">
            <h1>${item['body']}</h1>
            <p>${item['date']}</p>
            <p><a class="btn btn-primary btn-lg" href="/delwrite?writeId=${item['writeId']}" role="button">수정하기</a></p>
            </div>
            `
            $("#body").append(htmlTemp)
        }
        function make_re(item){
            let htmlTemp =`
            <tr val = "${item["_id"]}">
                <th>
                    ${item["username"]}
                </th>
                <th id = "test">
                    <input type="text" id = "name" placeholder="댓글내용입력 해주세요" value="${item["rebody"]}" readonly>
                </th>
                <th>
                    <button onclick="pat_rewrite(this)"> 수정</button><button onclick="del_rewrite(this)"> 삭제</button>
                    <button class = "hide" onclick="dopat_rewrite(this)"> 완료</button><button class = "hide" onclick="fall_rewrite(this)"> 취소</button>
                </th>
            </tr>`
            $("#write").append(htmlTemp);

        }
        //댓글작성
        function up_rewrite() {
            let name = $("#toname").val()
            let rebody = $("#rebody").val()
            if(rebody == ""){
                $("#rebody").focus();
                alert("빈칸이 없게 해주세요")
                return;
            }
            $.ajax({
                type: "POST",
                url: `/api/rewrite/${writeId}`,
                data: {rebody:rebody,username: name},
                success: function (response) {
                    alert(response["result"])
                    get_write()
                    window.location.reload();
                },
                error: function (error) {
                    alert(error.responseJSON.errorMessage);
                },
            })
        }
        //댓글 수정
        function pat_rewrite(test) {
            //console.log($(test).parents("tr").attr('val'))
            const reid = $(test).parents("tr").attr('val')
            let a = $(test).parents("tr");
            //console.log($(a).children("#test").text().trim())
            //$(a).children("#test").children("#name").attr('readonly', 'readonly');
            $(a).children("#test").children("#name").removeAttr('readonly');
            //console.log($(a).children("#test").children("#name").val())
            const rebody = $(a).children("#test").children("#name").val();
            frewrite = $(a).children("#test").children("#name").val();
            //console.log($(test).parent().children("button"))
            $(test).parent().children("button").toggleClass("hide");
            $(a).children("#test").children("#name").val("") 
            
            
        }
        //수정 완료!
        function dopat_rewrite(test) {
            const reid = $(test).parents("tr").attr('val')
            let a = $(test).parents("tr");
            const rebody = $(a).children("#test").children("#name").val();
            frewrite = $(a).children("#test").children("#name").val();
            $.ajax({
                type: "PATCH",
                url: `/api/rewrite/${writeId}`,
                data: {rebody:rebody,reid: reid},
                success: function (response) {
                    alert(response["result"])
                    window.location.reload();
                },
                error: function (error) {
                    alert(error.responseJSON.errorMessage);
                    window.location.reload();
                },
            })
            
        }
        //수정 취소
        function fall_rewrite(test) {
            console.log($(test).parents("tr").attr('val'))
            let a = $(test).parents("tr");
            //console.log($(a).children("#test").text().trim())
            $(a).children("#test").children("#name").attr('readonly', 'readonly');
            //$(a).children("#test").children("#name").removeAttr('readonly');
            console.log($(a).children("#test").children("#name").val())
            console.log($(test).parent().children("button"))
            $(test).parent().children("button").toggleClass("hide");
            $(a).children("#test").children("#name").val(frewrite) 
            
        }
        //댓글삭제
        function del_rewrite(test) {
            if(confirm("정말 삭제하시겠습니까??") == false){
                return;
            }
            const reid = $(test).parents("tr").attr('val')
            $.ajax({
                type: "DELETE",
                url: `/api/rewrite/${writeId}`,
                data: {reid: reid},
                success: function (response) {
                    alert(response["result"])
                    window.location.reload();
                },
                error: function (error) {
                    alert(error.responseJSON.errorMessage);
                },
            })
            
        }
        function number2decimals(num) {
            return (Math.round(num * 100) / 100).toFixed(2);
        }

        function test() {
            $('#like').removeClass('active');
            $('#dslike').addClass('active');
        }

        //조아요
        function likedo(){
            let name = $("#toname").val()
            $.ajax({
                type: "PATCH",
                url: `/love/like/${writeId}`,
                data: {like : true, name: name, likeid : isuserid},
                success: function (response) {
                    alert(response["msg"])
                    window.location.reload();
                },
                error: function (error) {
                    alert(error.responseJSON.errorMessage);
                },
            })
        }
        //시러요
        function dslikedo(){
            let name = $("#name").val()
            console.log(isuserid)
            $.ajax({
                type: "PATCH",
                url: `/love/like/${writeId}`,
                data: {dslike : true, name: name, likeid : isuserid},
                success: function (response) {
                    alert(response["msg"])
                    window.location.reload();
                },
                error: function (error) {
                    alert(error.responseJSON.errorMessage);
                    console.log(error)
                },
            })
        }

    </script>
    <style>
        .active {
            background-color: #ff71d5 !important;
            color: #44e2a5 !important;
            }
        .card {
            cursor: pointer;
        }

        html {
            overflow: auto;
        }
        .hide{
            display:none;
        }
        .feeling_div {
            display: flex;
            justify-content: center;
            align-items: center;
          } 
          .button-container {
            margin-left: 20px;
          }
          .feeling_a {
            background-color: #fff;
            border: 2px solid #44e2a5;
            padding: 10px 20px;
            border-radius: 2px;
            color: #44e2a5;
          }    
    </style>
</head>

<body>
    <%- include('header') %>
    <div id = "body">
        <p><h1>제목</h1><i class="fa fa-heart-o" id = "toitlike"style="color: #44e2a5"> Like</i>123</p>
        <p>작성자</p>
        <div class="jumbotron">
        <h1>글내용입니다.</h1>
        <p>날자</p>
        <p><a class="btn btn-primary btn-lg" href="/delwrite?writeId=1" role="button">수정,삭제</a></p>
        </div>
    </div>
    <div class="feeling_div">
        <div class="button-container like-container">
            <button class="feeling_a  active" id = "like" onclick="likedo()">
              <i class="fa fa-heart-o "> Like</i>    
            </a>
          </div>
          <div class="button-container dislike-container">
            <button class="feeling_a" id = "dslike" onclick="dslikedo()">
              <i class="fa fa-heart"> Dislike</i>
            </a>
        </div>
    </div>
    <div class="wrap">
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <input type="text" id="toname" placeholder="비로그인 작성불가" value="<% if(mysess){ %><%= id %><% } %>" readonly>
                        </th>
                        <th>
                            <input type="text" id="rebody" placeholder="댓글">
                        </th>
                        <th>
                            <button onclick="up_rewrite()"> 작성..!</button>
                        </th>
                    </tr>
                </thead>
                <tbody id = "write">
                    <tr val = 1>
                        <th>
                            1
                        </th>
                        <th>
                            테스트
                        </th>
                        <th>
                            <button onclick="pet_rewrite(this)"> 수정</button><button > 삭제</button>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
</body>


</html>